.faction-select {
    position: absolute;
    bottom: 1%;
    left: 0.5%;
}

.faction-select-menu {
    border: none;
    outline: none;
    background-color: rgb(47, 47, 47);
    border-radius: 6px;
    outline: rgb(32, 32, 32) solid 3px;
    padding: 7px;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.faction-select-item {
    background-color: rgb(47, 47, 47);
}
